{% extends '_layouts/base.njk' %}
{% block page_title %}{{ members.name }}{% endblock %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-5 left-rail">
      {% block info %}
      <img class="img-fluid" src="assets/img/{{members.image}}">
      {% endblock %}
    </div>

    <div class="col-sm-7">
      {% block story %}
      <h2>{{ members.name }}</h2>
      <h3>{{ members.instruments}}</h3>
      <h5>Tenure: {{ members.tenure}}</h5>
      <h5>Birthday: {{ members.birthdate}}</h5>
      <h5>Birthplace: {{ members.birthplace}}</h5>
      <h5>{{ members.text | safe}}</h5>
      {% endblock %}

    </div>
  </div>
</article>
{% endblock %}
