.jumbotron.banner {
    background: url(../assets/img/queen-band-wallpaper-thin.jpg) no-repeat center;
    background-size: cover;
    color: white;
    padding-top: 12rem
  }
  
  .jumbotron {
    margin-bottom: 30px;
  }