.jumbotron.banner {
    background: url(../assets/img/queen-live-on-stage.jpg) no-repeat center;
    background-size: cover;
    padding-top: 25rem
    
  }
  
  .jumbotron {
    margin-bottom: 30px;
  }